.Photo {
    &__img {
        display: block;
        width: calc(100% + var(--containerPadding));
        height: rem(580);
        object-fit: cover;
        border-radius: var(--borderRadiusSmall);
    }
}
